#b{
    background-color:#000000;
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: large;

}

.cont{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-top: 40vh;
}

.button{

    margin-right: 200px;
    user-select: none;

}